@font-face {
    font-family: 'thaleahfatmedium';
    src: url('./assets/fonts/thaleahfat-webfont.woff2') format('woff2'),
         url('./assets/fonts/thaleahfat-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;
    background-color: black;
}

canvas {
    background-color: black;
    cursor: none;
    width: 100%;
    display: block;
}

img {
    display: none;
}